<form method="post">
    <h1>Create Laptop</h1>
    <br />
    <label for="model">Model</label>
    <input type="text" name="model" />
    <br />
    <label for="price">Price</label>
    <input type="number" name="price"/>
    <br />
    <label for="year">Year</label>
    <input type="number" name="year"/>
    <br />
    <label for="brand">Brand Name</label>
    <input type="text" name="brand"/>
    <br />
    <button type="submit">Submit</button>
</form>